.hamburger {
  display: none;
}

.active-link {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .elements {
    position: absolute;
    right: 0;
    width: 0px;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .elements.active {
    width: 270px;
  }

  .elements ul {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .elements ul li {
    margin-right: unset;
    margin-top: 22px;
    white-space: nowrap;
  }
}
