@import '../../variables';

.gallery-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 620px;
  margin: 0 auto;
}

.photo {
  width: 200px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.slider-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close,
.prev,
.next {
  cursor: pointer;
  color: $color-white;
}
