@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Teko&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
}
